{% extends "layout.html.twig" %}
{% set adminMenu = true %}

    {% block title %}Administration{% endblock %}

    {% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#eleves" data-toggle="tab">Eleves</a></li>
                    <li><a href="#professeurs" data-toggle="tab">Professeurs</a></li>
                    <li class="dropdown {% if epreuveMenu is defined %}active{% endif %}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Epreuves <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/epreuves/add_chxclasse_search/">Ajouter</a></li>
                            <li><a href="/admin/epreuves/edit_ttchx_search/">Editer</a></li>
                            <li><a href="/admin/epreuves/delete_ttchx_search/">Supprimer</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active adminTable" id="eleves">
                {% if eleves %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Classe</th>
                                    <th></th>  <!-- Actions column -->
                                </tr>
                            </thead>
                            {% for eleve in eleves %}
                                <tr>
                                    <td><a class="eleveTitle" href="/eleves/{{ eleve.id }}">{{ eleve.nom }}</a></td>
                                    <td>{{ eleve.prenom }}</td>
                                    <td>{{eleve.classe.libelle }}</td>
                                    <td>
                                        <a href="/admin/eleves/edit/{{ eleve.id }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#eleveDialog{{ eleve.id }}"><span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <div class="modal fade" id="eleveDialog{{ eleve.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Voulez-vous vraiment supprimer ce élève ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <a href="/admin/eleves/delete/{{ eleve.id }}" class="btn btn-danger">Confirm</a>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-warning">Aucun élève trouvé.</div>
                {% endif %}
                <a href="/admin/eleves/add"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un  eleve</button></a>
            </div>
            <div class="tab-pane fade adminTable" id="professeurs">
                {% if professeurs %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Login</th>
                                    <th>Role</th>
                                    <th></th>  <!-- Actions column -->
                                </tr>
                            </thead>
                            {% for professeur in professeurs %}
                                <tr>
                                    <td><a class="eleveTitle" href="/professeurs/{{ professeur.id }}">{{ professeur.nom }}</a></td>
                                    <td>{{ professeur.prenom }}</td>
                                    <td>{{ professeur.username }}</td>
                                    <td>{{ professeur.role }}</td>
                                    <td>
                                        <a href="/admin/professeurs/edit/{{ professeur.id }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#professeurDialog{{ professeur.id }}"><span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <div class="modal fade" id="professeurDialog{{ professeur.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Voulez-vous vraiment supprimer ce professeur ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <a href="/admin/professeurs/delete/{{ professeur.id }}" class="btn btn-danger">Confirm</a>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-warning">Aucun professeur trouvé.</div>
                {% endif %}
                <a href="/admin/professeurs/add"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un professeur</button></a>
            </div>
            
        </div>
    {% endblock %}