{% extends 'layout.html.twig' %}
{% set adminMenu = true %}
    {% block title %}{{ title }}{% endblock %}
    {% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="well">
            {{ form_start(eleveForm, { 'attr': {'class': 'form-horizontal'} }) }}

            <div class="form-group">
                {{ form_label(eleveForm.nom, NULL, { 'label_attr': {'class': 'col-sm-4 col-md-5 control-label'}}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(eleveForm.nom) }}
                    {{ form_widget(eleveForm.nom, { 'attr': 'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(eleveForm.prenom, NULL, { 'label_attr': {'class': 'col-sm-4 col-md-5 control-label'}}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(eleveForm.prenom) }}
                    {{ form_widget(eleveForm.prenom, { 'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(eleveForm.classe, NULL, { 'label_attr':  {'class': 'col-sm-4 col-md-5 control-label'
                }}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(eleveForm.classe) }}
                    {{ form_widget(eleveForm.classe, { 'attr':  {'class': 'form-control'}}) }}
                </div>
            </div>           
            <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-5 col-sm-3">
                    {{ form_row(eleveForm.save, { 'attr':  {'class': 'btn btn-primary' }}) }}
                </div>
            </div>

            {{ form_end(eleveForm) }}
        </div>

    {% endblock %}