{% extends 'layout.html.twig' %}
{% set adminMenu = true %}
    {% block title %}{{ title }}{% endblock %}
    {% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="well">
            {{ form_start(epreuveForm, { 'attr': {'class': 'form-horizontal'} }) }}

            <div class="form-group">
                {{ form_label(epreuveForm.nom, NULL, { 'label_attr': {'class': 'col-sm-4 col-md-5 control-label'}}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.nom) }}
                    {{ form_widget(epreuveForm.nom, { 'attr': 'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(epreuveForm.date, NULL, { 'label_attr': {'class': 'col-sm-4 col-md-5 control-label'}}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.date) }}
                    {{ form_widget(epreuveForm.date, { 'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(epreuveForm.heure, NULL, { 'label_attr':  {'class': 'col-sm-4 col-md-5 control-label'
                }}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.heure) }}
                    {{ form_widget(epreuveForm.heure, { 'attr':  {'class': 'form-control'}}) }}
                </div>
            </div>     
            <div class="form-group">
                {{ form_label(epreuveForm.professeur, NULL, { 'label_attr':  {'class': 'col-sm-4 col-md-5 control-label'
                }}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.professeur) }}
                    {{ form_widget(epreuveForm.professeur, { 'attr':  {'class': 'form-control'}}) }}
                </div>
            </div>  

            <div class="form-group">
                {{ form_label(epreuveForm.langue, NULL, { 'label_attr':  {'class': 'col-sm-4 col-md-5 control-label'
                }}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.langue) }}
                    {{ form_widget(epreuveForm.langue, { 'attr':  {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(epreuveForm.salle, NULL, { 'label_attr':  {'class': 'col-sm-4 col-md-5 control-label'
                }}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.salle) }}
                    {{ form_widget(epreuveForm.salle, { 'attr':  {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-5 col-sm-3">
                    {{ form_row(epreuveForm.save, { 'attr':  {'class': 'btn btn-primary' }}) }}
                </div>
            </div>

            {{ form_end(epreuveForm) }}
        </div>

    {% endblock %}