{% extends 'layout.html.twig' %}
{% set epreuveMenu = true %}
    {% block title %}{{title}}{% endblock %}
    {% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <h2 class="text-center">{{ block('title') }}</h2>
        <div class="well">
            <div class="tab-content">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Identifiant</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{ eleve.id }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Nom</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{ eleve.nom }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Prénom</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{ eleve.prenom }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Classe</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{ eleve.classe.libelle }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label">Tiers temps</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{ eleve.tierstemps }}</p>
                        </div>
                    </div>
                </form>
                <br>
            </div>

            {{ form_start(epreuveForm, { 'attr': {'class': 'form-horizontal'} }) }}

            <div class="form-group">
                {{ form_label(epreuveForm.professeur, NULL, { 'label_attr': {'class': 'col-sm-4 col-md-5 control-label'}}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.professeur) }}
                    {{ form_widget(epreuveForm.professeur, { 'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(epreuveForm.datepassage, NULL, { 'label_attr': {'class': 'col-sm-4 col-md-5 control-label'}}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.datepassage) }}
                    {{ form_widget(epreuveForm.datepassage, { 'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(epreuveForm.heurepassage, NULL, { 'label_attr':  {'class': 'col-sm-4 col-md-5 control-label'
                }}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.heurepassage) }}
                    {{ form_widget(epreuveForm.heurepassage, { 'attr':  {'class': 'form-control'}}) }}
                </div>
            </div>    
            <div class="form-group">
                {{ form_label(epreuveForm.salle, NULL, { 'label_attr':  {'class': 'col-sm-4 col-md-5 control-label'
                }}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.salle) }}
                    {{ form_widget(epreuveForm.salle, { 'attr':  {'class': 'form-control'}}) }}
                </div>
            </div>   
            <div class="form-group">
                {{ form_label(epreuveForm.langue, NULL, { 'label_attr':  {'class': 'col-sm-4 col-md-5 control-label'
                }}) }}
                <div class="col-sm-6 col-md-3">
                    {{ form_errors(epreuveForm.langue) }}
                    {{ form_widget(epreuveForm.langue, { 'attr':  {'class': 'form-control'}}) }}
                </div>
            </div> 
            <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-5 col-sm-3">
                    {{ form_row(epreuveForm.save, { 'attr':  {'class': 'btn btn-primary' }}) }}
                </div>
            </div>

            {{ form_end(epreuveForm) }}

        </div>
    {% endblock %}