{% extends "layout.html.twig" %}
{% set epreuveMenu = true %}
    {% block title %}Recherche de choix de la classe{% endblock %}
    {% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>
        <div class="well">
            <div class="tab-content">
                <br>
                {% if classes %}
                    <form class="form-horizontal" role="form" action="/epreuves/results/edit_chxclasse/{{epreuve.datepassage}}/{{heurepassage.id}}" method="post">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Date de passage</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{ epreuve.datepassage}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Heure de passage</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{heurepassage.heuredeb }}-{{heurepassage.heurefin}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Nom prénom</label>
                            <div class="col-sm-7">
                                <p class="form-control-static">{{ epreuve.eleve.nom }} {{ epreuve.eleve.prenom }}</p>
                            </div>
                        </div>                            
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-2 control-label">Classe</label>
                            <div class="col-sm-5 col-md-4">
                                <select class="form-control" name="dllClasseEpreuve">
                                    {% for classe in classes %}
                                        <option value="{{ classe.id }}" {% if classe.id==epreuve.eleve.classe.id %}selected{% endif %}>{{ classe.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-5">
                                <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Valider </button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    {% if eleves %}
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <tr>

                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Classe</th>
                                        <th></th>  <!-- Actions column -->
                                    </tr>
                                </thead>
                                {% for eleve in eleves %}
                                    <tr>
                                        <td><a class="eleveTitle" href="/eleves/{{ eleve.id }}">{{ eleve.nom }}</a></td>
                                        <td>{{ eleve.prenom }}</td>
                                        <td>{{eleve.classe.libelle }}</td>
                                        <td>
                                            <a href="/epreuves/results/edit_chxclasse/edit/{{epreuve.datepassage}}/{{heurepassage.id}}/{{eleve.id}}" class="btn btn-info btn-xs" title="Epreuve"><span class="glyphicon glyphicon-edit"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <div class="alert alert-warning">Aucun élève trouvé.</div>                    
                    {% endif %}
                {% endif %}

            </div>
        </div>
    {% endblock %}