{% extends "layout.html.twig" %}
{% set epreuveMenu = true %}
    {% block title %}Recherche de choix{% endblock %}
    {% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>
        <div class="well">
            <div class="tab-content">
                <br>
                <form class="form-horizontal" role="form" action="/admin/epreuves/edit_ttchx_search/" method="post">
                    {% if classes %}
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-2 control-label">Classe :</label>
                            <div class="col-sm-5 col-md-4">
                                <select class="form-control" name="dllClasseEpreuve">
                                    {% for classe in classes %}
                                        <option value="{{ classe.id }}">{{ classe.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    <center>Ou</center><br>
                        {% if professeurs %}
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-2 control-label">Professeur :</label>
                            <div class="col-sm-5 col-md-4">
                                <select class="form-control" name="dllProfesseurEpreuve">
                                    {% for professeur in professeurs %}
                                        <option value="{{professeur.id }}">{{ professeur.nom }} {{professeur.prenom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}
                    <center>Ou</center><br>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-2 control-label">Date de passage :</label>
                        <div class="col-sm-5 col-md-4">
                            <input name="ddlDateEpreuve" type="date" class="form-control" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-5">
                            <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Valider </button>
                        </div>
                    </div>
                </form>

                {% if epreuves %}
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>                       
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Classe</th>
                                    <th>Professeur</th>
                                    <th>Date de passage</th>  
                                    <th>Horaire</th>
                                    <th>Langue</th>                                    
                                    <th>Salle</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for epreuve in epreuves %}
                                <tr>
                                    <td><a href="/epreuves/{{ epreuve.eleve.id }}">{{ epreuve.eleve.nom }} </a></td>
                                    <td>{{epreuve.eleve.prenom}}</td>
                                    <td>{{ epreuve.eleve.classe.libelle }}</td>
                                    <td>{{ epreuve.professeur.nom }} {{ epreuve.professeur.prenom }}</td>
                                    <td>{{ epreuve.datepassage }}</td>
                                    <td>{{ epreuve.heurepassage.heuredeb }}-{{epreuve.heurepassage.heurefin}}</td>
                                    <td>{{ epreuve.langue.libelle }}</td>                                    
                                    <td>{{ epreuve.salle.libelle }}</td>
                                    <td>
                                        <a href="/admin/epreuves/edit_ttchx_results/{{epreuve.eleve.id }}" class="btn btn-info btn-xs" title="Epreuve"><span class="glyphicon glyphicon-edit"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div class="alert alert-warning">Aucun eleve trouvé.</div>                    
                {% endif %}


            </div>
        </div>
    {% endblock %}