{% extends "layout.html.twig" %}
{% set epreuveMenu = true %}
    {% block title %}Recherche de choix{% endblock %}
    {% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>
        <div class="well">
            <div class="tab-content">
                <br>
                <form class="form-horizontal" role="form" action="/admin/epreuves/edit_ttchx_results/" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-2 control-label">Classe :</label>
                        <div class="col-sm-5 col-md-4">
                            <select class="form-control" name="dllClasseEpreuve">
                                {% for epreuve in epreuves %}
                                    <option value="{{ epreuve.eleve.classe.id }}">{{ epreuve.eleve.classe.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <center>Ou</center><br>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-2 control-label">Professeur :</label>
                        <div class="col-sm-5 col-md-4">
                            <select class="form-control" name="dllProfesseurEpreuve">
                                {% for epreuve in epreuves %}
                                    <option value="{{ epreuve.professeur.id }}">{{ epreuve.professeur.nom }} {{ epreuve.professeur.prenom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <center>Ou</center><br>
                    <div class="form-group">
                        <label class="col-sm-3 col-sm-offset-2 control-label">Date de passage :</label>
                        <div class="col-sm-5 col-md-4">
                            <input name="ddlDateEpreuve" type="date" class="form-control" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-5">
                            <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Valider </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    {% endblock %}