{% extends "layout.html.twig" %}
{% set epreuveMenu = true %}

    {% block title %}{{ title }}{% endblock %}
    {% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>
        {% if epreuves %}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>                       
                            <th>Date de passage</th>  
                            <th>Horaire</th>
                            <th>Eleve</th>                    
                            <th>Langue</th>
                            <th>Professeur</th>
                            <th>Salle de l'examen</th>
                            <th></th>

                        </tr>
                    </thead>
                    {% for epreuve in epreuves %}
                        <tr>
                            <td>{{ epreuve.datepassage }}</td>
                            <td>{{ epreuve.heurepassage.heuredeb }}-{{epreuve.heurepassage.heurefin}}</td>
                            <td><a href="/epreuves/{{ epreuve.eleve.id }}">{{ epreuve.eleve.nom }} {{epreuve.eleve.prenom}}</a></td>                    
                            <td>{{ epreuve.langue.libelle }}</td>
                            <td>{{ epreuve.professeur.nom }} {{ epreuve.professeur.prenom }}</td>
                            <td>{{ epreuve.salle.libelle }}</td>
                            <td>
                                {% if epreuve.eleve.id == 0 %}
                                <a href="/epreuves/results/add_chxclasse/{{ epreuve.datepassage }}/{{epreuve.heurepassage.id }}"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button></a>
                                {% else %}
                                <button type="button" class="btn "><span class="glyphicon glyphicon-blank"></span></button>
                                {% endif %}
                                <a href="/epreuves/results/edit_chxMajclasse/{{ epreuve.datepassage }}/{{epreuve.heurepassage.id }}/{{ epreuve.eleve.id }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#epreuveDialog{{ epreuve.eleve.id }}"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <div class="modal fade" id="epreuveDialog{{ epreuve.eleve.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                                            </div>
                                            <div class="modal-body">
                                                Voulez-vous vraiment supprimer ce épreuve ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a href="/epreuves/delete/{{ epreuve.datepassage }}/{{epreuve.heurepassage.id }}/{{ epreuve.eleve.id }}" class="btn btn-danger">Confirm</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->



                            </td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning">Aucun epreuve trouvé.</div>
        {% endif %}       
    {% endblock %}
