{% extends "layout.html.twig" %}
{% set professeurMenu = true %}
    {% block title %}Recherche {% endblock %}
    {% block content %}
        <h2 class="text-center">{{ block('title') }}</h2>
        <div class="well">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#simple" data-toggle="tab">Par Nom</a></li>
                        <li><a href="#advanced" data-toggle="tab">Par Role</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="simple">
                    <br>
                    <form class="form-horizontal" role="form" action="/professeurs/results/" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-2 control-label">Nom</label>
                            <div class="col-sm-5 col-md-4">
                                <select class="form-control" name="ddlProfs">
                                    {% for professeur in professeurs %}
                                        <option value="{{ professeur.id }}">{{ professeur.nom }} {{professeur.prenom}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-5">
                                <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="advanced">
                    <br>
                    <form class="form-horizontal" role="form" action="/professeurs/results/" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 col-sm-offset-2 control-label">Role</label>
                            <div class="col-sm-5 col-md-4">
                                <select class="form-control" name="ddlRoles">
                                    {% for role in roles %}
                                        <option value="{{ role}}">{{ role }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>     
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-5">
                                <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}